@media (max-width: 1160px) {  
	.container{
	width: 1050px;

}

}
@media (max-width: 1100px) {
	.container{
	width: 950px;

    }

    .section2-list{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
	
    }
    .section2-item{
		box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
    }
    .item1-sub{
		margin-left: 0;
		margin-right: 0;
    }
    .item2-sub{
		margin-right: 0;
		margin-left: 0;
    }

}
@media (max-width: 970px) {
	.container{
	width: 850px;

}



}
@media (max-width: 870px) {
	.container{
	width: 760px;

}
iframe{
	width:460px ;
	min-height:280px ;
}
.nav-item-link{
	font-size: 12px;
}
.tel-num{
	font-size: 12px;
}

}
@media (max-width: 780px){
	.container{
		width: 720px;
	}
}
@media (max-width: 740px){
	.container{
		width: 576px;
	}
	.nav-list{
		display: none;
	}
	.section1-info-youtubelink{
		flex-direction: column;
		align-items: center;
	}
	.section1-h1{
		text-align: center;
	}
	.section1-p{
		text-align: center;
	}
	.section1-link{
		display: block;
		text-align: center;
		margin-bottom: 25px;
	}
}
@media (max-width: 576px){
	.container{
		width: 540px;
	}
}
@media (max-width: 560px){
	.container{
		width: 500px;
	}
	.section3-img{
		width: 30%;
	}
	.footer-p{
		font-size: 14px;
	}
}
@media (max-width: 520px){
	.container{
		width: 490px;
	}
	.footer-item1{
		margin-left: 10px;
	}
}
@media (max-width: 500px){
	.container{
		width: 460px;
	}
	.footer-item1{
		margin-right: 50px;
	}
}
@media (max-width: 470px){
	.container{
		width: 420px;
	}
	.section1-h1{
		font-size: 22px;
	}
	.section1-p{
		font-size: 15px;
		width: 80%;
		margin: 0 auto;
		margin-top: 10px;
	}
	iframe{
		width: 85%;
	}
	.section2-link{
		padding: 5px 10px;
	}
	.section1-link{
		width: 70%;
		margin: 10px auto;
	}
	.footer-h1{
		font-size: 17px;
	}
	.footer-h2{
		font-size: 17px;
	}
	.footer-link{
		font-size: 14px;
	}
}
@media (max-width: 430px){
	.container{
		width: 400px;
	}
	.a{
		margin-left: -45px;
	}
}
@media (max-width: 410px){
	.container{
		width: 90%;
	}
	.footer-h1{
		font-size: 16px;
		width: 80%;
	}
	.a{
		margin-left: -40px;
	}
	
}